<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to MediSoft AI</h1>
            <p class="lead">MediSoft AI is a web application that uses machine learning to predict the likelihood of a patient having a certain disease based on their symptoms.</p>
            <hr class="my-4">
            <p>Click the button below to get started.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="home/visits" role="button">Get Started</a>
            </p>
        </div>
    </div>
</div>