.patient-container{
    background-color: black;
    color: white;
}
.recording-container{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    
}
.audio-item{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}
.recording-animation-container{
    width: 200px;
    height: 30px;
    background-color: green;
    color: white;
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.symptom-container{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}