<div class="row ">
    <div class="col-12">
        <h2>Visit Details</h2>
    </div>
    <div class="col-12 patient-container">
        <div class="container ">
            <div class="row">
                <div class="col-4 patient-attr">
                    Name: {{currentVisit?.patient?.name}}
                </div>
                <div class="col-4 patient-attr">
                    Age: {{currentVisit?.patient?.age}}
                </div>
                <div class="col-4 patient-attr">
                    gender: {{currentVisit?.patient?.gender}}
                </div>
                <div class="col-6 patient-attr">
                    chronic diseases: {{currentVisit?.patient?.chronicDiseases?.join(', ')}}
                </div>
                <div class="col-6 patient-attr">
                    allergies: {{currentVisit?.patient?.allergies?.join(', ')}}
                </div>
            </div>
            <div class="row" *ngIf="currentVisit?.patient?.patientInformation">
                <div class="col-12 patient-attr">
                    <button class="btn btn-light" (click)="openPatientInformationDialog()">
                        <i class="fas fa-info-circle"></i> Patient Health History
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Recordings
                    </h3>
                </div>


            </div>
            <div class="row recording-container">
                <div class="col-12">
                    <div class="row">
                        <div *ngFor="let audioTranscript of audioTranscripts" class="col-12 audio-item">
                            <audio class="w-100" controls>
                                <source src="{{audioTranscript.audio}}" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                            <button *ngIf="audioTranscript.transcript" class="btn btn-light"
                                (click)="openDialog(audioTranscript.transcript!)">
                                <i class="fas fa-file-alt"></i>
                            </button>
                            <div *ngIf="audioTranscript.isUploading" class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>

                        </div>
                        <hr />
                        <div class="col-12 record-icon audio-item">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Record Audio</h4>
                                </div>
                                <div class="col-12 d-flex">
                                    <button *ngIf="!isRecording" class="btn btn-light" (click)="startRecording()">
                                        <i class="fas fa-microphone"></i>
                                    </button>
                                    <div *ngIf="isRecording" class="recording-animation-container">
                                        <h4>Recording....</h4>
                                    </div>
                                    <audio #recorder *ngIf="audioUrl&&!isRecording" class="w-100" type="audio/wav"
                                        controls [src]="audioUrl"></audio>

                                    <button class="btn btn-light" *ngIf="isRecording" (click)="stopRecording()">
                                        <i class="fas fa-stop"></i>
                                    </button>
                                    <button class="btn btn-light" *ngIf="audioUrl&&!isRecording"
                                        (click)="sendRecording()">
                                        <i class="fas fa-upload"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="col-12" *ngIf="isGenerateReportAvailable">
                            <div class="row">
                                <div class="col-12 report-button-container">
                                    <button *ngIf="!isReportGenerating" class="btn btn-dark" (click)="generateReport()">
                                        <i class="fas fa-file"></i> Generate a Report
                                    </button>
                                    <div *ngIf="isReportGenerating" class="lds-ellipsis">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--audio container-->

        </div>
    </div>
    <div *ngIf="exampleState" class="col-7">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Result
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 card-container">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img src="assets/specification.png" />
                            </div>
                            <mat-card-title>Symptoms</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="symptom-item">
                                <div class="icd10">234</div>
                                <div class="symptom-title">name 1</div>

                            </div>
                            <div class="symptom-item">
                                <div class="icd10">234</div>
                                <div class="symptom-title">name 2</div>

                            </div>
                            <div class="symptom-item">
                                <div class="icd10">234</div>
                                <div class="symptom-title">name 3</div>

                            </div>
                            <div class="symptom-item">
                                <div class="icd10">234</div>
                                <div class="symptom-title">name 4</div>

                            </div>

                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="col-12 card-container">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img src="assets/diagnosis.png" />
                            </div>
                            <mat-card-title>Differential Diagnosis</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="diagnosis-card">
                                <div class="diagnosis-card-title">
                                    <div class="icd10">1122</div> &nbsp;&nbsp;Diagnosis 1
                                </div>
                                <div class="diagnosis-card-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vel praesentium
                                    ad esse, aut eum blanditiis cupiditate eius culpa itaque deleniti, nulla nam alias
                                    accusamus reiciendis fuga soluta harum placeat?
                                </div>
                                <div class="diagnosis-card-footer"> <button class="btn btn-primary">Tests Need
                                        <i class="fas fa-arrow-right"></i>
                                    </button>

                                </div>
                            </div>

                            <!--div class="symptom-item">
                                <div class="icd10">{{reportResult.differentialDiagnosis.icd10am}}</div>
                                <div class="symptom-title"><strong>{{reportResult.diagnosis.name}}</strong><br /><br />
                                    {{reportResult.diagnosisExplaination}}
                                </div>

                            </div-->
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="col-12 card-container">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img src="assets/medicine.png" />
                            </div>
                            <mat-card-title>Drug of choice</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <!--div class="symptom-item">
                                <div class="symptom-title"><strong>{{reportResult.drugOfChoice.genericName}}</strong>
                                    <br /><br />{{reportResult.drugOfChoice.description}}
                                </div>

                            </div-->
                        </mat-card-content>

                    </mat-card>
                </div>



            </div>




        </div>
    </div>

    <div *ngIf="!isReportGenerating && reportResult && !isGenerateReportFailed" class="col-7">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Result
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 card-container">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img src="assets/specification.png" />
                            </div>
                            <mat-card-title>Symptoms</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngFor="let report of reportResult.symptoms" class="symptom-item">
                                <div class="icd10">{{report['icd10-am']}}</div>
                                <div class="symptom-title">{{report.name}}</div>

                            </div>

                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="col-12 card-container">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img src="assets/diagnosis.png" />
                            </div>
                            <mat-card-title>Differential Diagnosis</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngFor="let diagnosis of reportResult.differentialDiagnosis" (click)="selectDiagnosis(diagnosis)" class="diagnosis-card {{diagnosis.selected?'selected':''}}">
                                <div class="diagnosis-card-title">
                                    <div class="icd10">{{diagnosis['icd10-am']}}</div> &nbsp;&nbsp;{{diagnosis.name}}
                                </div>
                                <div class="diagnosis-card-content">
                                    {{diagnosis.diagnosisExplaination}}
                                </div>
                                <div *ngIf="diagnosis.testsNeeds && diagnosis.testsNeeds.length>0" class="diagnosis-card-footer"> <button (click)="openDiagnosisTestDialog(diagnosis)" class="btn btn-primary">Needed Tests
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!--div class="symptom-item">
                                <div class="icd10">{{reportResult.differentialDiagnosis.icd10am}}</div>
                                <div class="symptom-title"><strong>{{reportResult.diagnosis.name}}</strong><br /><br />
                                    {{reportResult.diagnosisExplaination}}
                                </div>

                            </div-->
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="col-12 card-container" *ngIf="drugOfChoiceModel &&!isDrugReportGenerating">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img src="assets/medicine.png" />
                            </div>
                            <mat-card-title>Drug of choice</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <div class="symptom-item" *ngFor="let choice of drugOfChoiceModel.drugOfChoices">
                                <div class="symptom-title"><strong>{{choice.genericName}}</strong>
                                    <br /><br />{{choice.description}}
                                </div>

                            </div>
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="col-12" *ngIf="isDrugReportGenerating" class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="col-12 card-container" *ngIf="neededTestsModel &&!isNeededTestsReportGenerating">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <img src="assets/blood-analysis.png" />
                            </div>
                            <mat-card-title>Needed Tests</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <div class="symptom-item" *ngFor="let choice of neededTestsModel.testsNeeds">
                                <div class="symptom-title"><strong>{{choice.name}}</strong>
                                    <br /><br />{{choice.justification}}
                                </div>

                            </div>
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="col-12" *ngIf="isNeededTestsReportGenerating" class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                
                



            </div>




        </div>
    </div>

    <div *ngIf="!isReportGenerating && reportResult && isGenerateReportFailed" class="col-7">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 alert alert-danger">
                    <h3>
                        Report Generation Failed
                    </h3>
                </div>
            </div>
        </div>
    </div>

</div>
<!--patient information section -->